# === Python Virtual Envs & Artifacts ===
# Backend venv
backend/venv/
# Bytecode
**/__pycache__/
**/*.pyc

# Logs
**/*.log

# === Node.js / Frontend ===
# Dependencies
frontend/node_modules/
# Build outputs
frontend/.next/
frontend/dist/

# === Misc ===
# Environment files
*.env
venv
